[Desktop Entry]
Terminal=false
Type=Application
Categories=System;
StartupNotify=false
Name=Xero Post-Install Toolkit
Exec=/usr/bin/xero-cli
Icon=xerolinux.png
Comment=A tool for easy Post-Install Actions.
